services:
  nctsexcelupload:
    build: ./Ncts Excel Upload
    container_name: NctsExcelUpload
    environment:
          - INFINITE_LOOP=${INFINITE_LOOP} 
    volumes:
      - ./Ncts Excel Upload/archive:/app/archive
      - ./Ncts Excel Upload/incomming:/app/incomming
      - ./Ncts Excel Upload/outgoing:/app/outgoing
      - ./Ncts Excel Upload/main.py:/app/main.py
      - ./Ncts Excel Upload/tasks.py:/app/tasks.py

      - ./classes.py:/app/classes.py
      - ./templates:/app/templates

    command: ["/opt/venv/bin/python3", "main.py"]

  stevocatimport:
    build: ./Stevocat/PLDA
    container_name: StevocatImport
    environment:
      - INFINITE_LOOP=${INFINITE_LOOP} 
      - DOCPARSER_API_KEY=${DOCPARSER_API_KEY} 
      - PARSER_ID=lnfycbyzpjsa
    volumes:
      - ./Stevocat/PLDA/archive:/app/archive
      - ./Stevocat/PLDA/incomming:/app/incomming
      - ./Stevocat/PLDA/outgoing:/app/outgoing
      - ./Stevocat/PLDA/main.py:/app/main.py
      - ./Stevocat/PLDA/tasks.py:/app/tasks.py

      - ./classes.py:/app/classes.py
      - ./templates:/app/templates

    command: ["/opt/venv/bin/python3", "main.py"]    

  # project:
  #   build: ./Project #path to dockerfile
  #   environment:
  #         - INFINITE_LOOP=${INFINITE_LOOP} 
  #   container_name: Project
  #   volumes:
  #     - ./Project/archive:/app/archive
  #     - ./Project/incomming:/app/incomming
  #     - ./Project/outgoing:/app/outgoing
  #     - ./Project/main.py:/app/main.py
  #     - ./Project/tasks.py:/app/tasks.py

  #     - ./classes.py:/app/classes.py
  #     - ./templates:/app/templates

  #   command: ["/opt/venv/bin/python3", "main.py"]