include:
#  - ./docker-compose-scripts/A.yml
#  - ./docker-compose-scripts/B.yml
#  - ./docker-compose-scripts/C.yml
#  - ./docker-compose-scripts/D.yml
#  - ./docker-compose-scripts/E.yml
#  - ./docker-compose-scripts/F.yml
#  - ./docker-compose-scripts/G.yml
#  - ./docker-compose-scripts/H.yml
#  - ./docker-compose-scripts/I.yml
#  - ./docker-compose-scripts/J.yml
#  - ./docker-compose-scripts/K.yml
#  - ./docker-compose-scripts/L.yml
#  - ./docker-compose-scripts/M.yml
 - ./docker-compose-scripts/N.yml
#  - ./docker-compose-scripts/O.yml
#  - ./docker-compose-scripts/P.yml
#  - ./docker-compose-scripts/Q.yml
#  - ./docker-compose-scripts/R.yml
 - ./docker-compose-scripts/S.yml
#  - ./docker-compose-scripts/T.yml
#  - ./docker-compose-scripts/U.yml
#  - ./docker-compose-scripts/V.yml
#  - ./docker-compose-scripts/W.yml
#  - ./docker-compose-scripts/X.yml
#  - ./docker-compose-scripts/Y.yml
#  - ./docker-compose-scripts/Z.yml

services:
  maildispatcher:
    build: ./communication/maildispatcher #path to dockerfile
    environment:
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
    container_name: maildispatcher
    networks:
      - csnetwork
    volumes: 
      - ./scripts:/scripts
      - ./communication/maildispatcher/main.py:/app/main.py
      - ./communication/maildispatcher/config.json:/config/config.json
    depends_on: [rabbitmq]
    command: ["/opt/venv/bin/python3", "main.py"]

  watchdog:
    build: ./communication/watchdog #path to dockerfile
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - EXCHANGE_NAME=${EXCHANGE_NAME}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - INFINITE_LOOP=${INFINITE_LOOP} 
    container_name: Watchdog
    networks:
      - csnetwork
    volumes: 
      - ./scripts:/scripts:ro
      - ./communication/watchdog/main.py:/app/main.py
      - ./config.txt:/config/config.txt:ro
    depends_on: [rabbitmq]
    command: ["/opt/venv/bin/python3", "main.py"]

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    networks:
      - csnetwork
    ports:
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  db:
    image: postgres:18
    restart: always
    container_name: postgresdb
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    networks:
      - csnetwork
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:9.11.0
    container_name: pgadmincs
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'True'
      PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: 'True'
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - db
    networks:
      - csnetwork
    volumes:
      - pgadmin-data:/var/lib/pgadmin  

  jupyter:
    # image: jupyter/scipy-notebook:latest
    image: jupyter/scipy-notebook:latest
    ports:
      - 8888:8888
    volumes:
      - ./notebooks:/home/jovyan/work
    networks:
      - csnetwork
    environment:
      JUPYTER_TOKEN: chocolate
      JUPYTER_ENABLE_LAB: yes
      POSTGRES_HOST: db
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    command: >
      start.sh jupyter lab --NotebookApp.notebook_dir=/home/jovyan


networks:
  csnetwork: 
    external: true

volumes:
  rabbitmq_data:
  pgdata:
  pgadmin-data:

