services:
  maildispatcher:
    build: ./communication/maildispatcher #path to dockerfile
    environment:
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
    container_name: maildispatcher
    networks:
      - csnetwork
    volumes: 
      - ./scripts:/scripts
      - ./communication/maildispatcher/main.py:/app/main.py
      - ./communication/maildispatcher/config.json:/config/config.json
    depends_on: [rabbitmq]
    command: ["/opt/venv/bin/python3", "main.py"]

  watchdog:
    build: ./communication/watchdog #path to dockerfile
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - EXCHANGE_NAME=${EXCHANGE_NAME}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - INFINITE_LOOP=${INFINITE_LOOP} 
    container_name: Watchdog
    networks:
      - csnetwork
    volumes: 
      - ./scripts:/app/Scripts:ro
      - ./communication/watchdog/main.py:/app/main.py
      - ./config.txt:/config/config.txt:ro
    depends_on: [rabbitmq]
    command: ["/opt/venv/bin/python3", "main.py"]

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    networks:
      - csnetwork
    ports:
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  nctsexcelupload:
    image: excel-image
    container_name: NctsExcelUpload
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - EXCHANGE_NAME=${EXCHANGE_NAME}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - ROUTING_KEY=Ncts Excel Upload/incomming
      - QUEUE_NAME=ncts_excel_queue
      - PYTHONPATH=/shared  # belangrijk!
    networks:
      - csnetwork
    volumes:
      - ./scripts/Ncts Excel Upload:/app

      - ./shared/classes.py:/shared/classes.py:ro
      - ./shared/templates:/shared/templates:ro
    depends_on: [rabbitmq] 
    command: ["/opt/venv/bin/python3", "main.py"]

  stevocatimport:
    image: excel-image
    container_name: StevocatImport
    networks:
      - csnetwork
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - EXCHANGE_NAME=${EXCHANGE_NAME}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - ROUTING_KEY=Stevocat/PLDA/incomming
      - QUEUE_NAME=stevocat_import_queue
      - PYTHONPATH=/shared # belangrijk!
      - DOCPARSER_API_KEY=${DOCPARSER_API_KEY} 
      - PARSER_ID=lnfycbyzpjsa
    volumes:
      - ./scripts/Stevocat/PLDA:/app

      - ./shared/classes.py:/shared/classes.py:ro
      - ./shared/templates:/shared/templates:ro
    command: ["/opt/venv/bin/python3", "main.py"]    

networks:
  csnetwork: 
    external: true

volumes:
  rabbitmq_data:

  # project: #customize
  #   image: #prebuild image
  #   environment:
  #     - RABBITMQ_HOST=${RABBITMQ_HOST}
  #     - EXCHANGE_NAME=${EXCHANGE_NAME}
  #     - RABBITMQ_USER=${RABBITMQ_USER}
  #     - RABBITMQ_PASS=${RABBITMQ_PASS}
  #     - ROUTING_KEY=project/incomming #customize
  #     - QUEUE_NAME=project_queue #customize
  #     - PYTHONPATH=/shared
  #   container_name: Project #customize
  #   network:
  #     - csnetwork
  #   volumes:
  #     - ./Project/archive:/app/archive
  #     - ./Project/incomming:/app/incomming
  #     - ./Project/outgoing:/app/outgoing
  #     - ./Project/main.py:/app/main.py
  #     - ./Project/tasks.py:/app/tasks.py

  #     - ./shared/classes.py:/shared/classes.py
  #     - ./shared/templates:/shared/templates

  #   command: ["/opt/venv/bin/python3", "main.py"]