services:
  nctsexcelupload:
    build: ./Ncts Excel Upload
    container_name: NctsExcelUpload
    volumes:
      - ./Ncts Excel Upload/archive:/app/archive
      - ./Ncts Excel Upload/incomming:/app/incomming
      - ./Ncts Excel Upload/outgoing:/app/outgoing
      - ./Ncts Excel Upload/main.py:/app/main.py
      - ./Ncts Excel Upload/tasks.py:/app/tasks.py

      - ./classes.py:/app/classes.py
      - ./templates:/app/templates

    command: ["/app/venv/bin/python", "main.py"]

    # project:
    # build: ./Project
    # container_name: Project
    # volumes:
    #   - ./Project/archive:/app/archive
    #   - ./Project/incomming:/app/incomming
    #   - ./Project/outgoing:/app/outgoing
    #   - ./Project/main.py:/app/main.py
    #   - ./Project/tasks.py:/app/tasks.py

    #   - ./classes.py:/app/classes.py
    #   - ./templates:/app/templates

    # command: ["/app/venv/bin/python", "main.py"]