services:
  watchdog:
    build: ./Watchdog #path to dockerfile
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - EXCHANGE_NAME=${EXCHANGE_NAME}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASS=${RABBITMQ_PASS}
      - INFINITE_LOOP=${INFINITE_LOOP} 
    container_name: Watchdog
    networks:
      - csnetwork
    volumes: 
      - ./Scripts:/app/Scripts:ro
      - ./Watchdog/main.py:/app/main.py
    depends_on: [rabbitmq]
    command: ["/opt/venv/bin/python3", "main.py"]

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_broker
    networks:
      - csnetwork
    ports:
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  nctsexcelupload:
    image: excel-image
    container_name: NctsExcelUpload
    environment:
      - INFINITE_LOOP=${INFINITE_LOOP} 
    networks:
      - csnetwork
    volumes:
      - ./Scripts/Ncts Excel Upload:/app

      - ./classes.py:/app/classes.py
      - ./templates:/app/templates
    command: ["/opt/venv/bin/python3", "main.py"]

  stevocatimport:
    image: excel-image
    container_name: StevocatImport
    networks:
      - csnetwork
    environment:
      - INFINITE_LOOP=${INFINITE_LOOP} 
      - DOCPARSER_API_KEY=${DOCPARSER_API_KEY} 
      - PARSER_ID=lnfycbyzpjsa
    volumes:
      - ./Scripts/Stevocat/PLDA:/app

      - ./classes.py:/app/classes.py
      - ./templates:/app/templates
    command: ["/opt/venv/bin/python3", "main.py"]    

networks:
  csnetwork: 
    external: true

volumes:
  rabbitmq_data:

  # project:
  #   build: ./Project #path to dockerfile
  #   environment:
  #     - INFINITE_LOOP=${INFINITE_LOOP} 
  #   container_name: Project
  #   network:
  #     - csnetwork
  #   volumes:
  #     - ./Project/archive:/app/archive
  #     - ./Project/incomming:/app/incomming
  #     - ./Project/outgoing:/app/outgoing
  #     - ./Project/main.py:/app/main.py
  #     - ./Project/tasks.py:/app/tasks.py

  #     - ./classes.py:/app/classes.py
  #     - ./templates:/app/templates

  #   command: ["/opt/venv/bin/python3", "main.py"]