services:
  stevocatimport:
    image: excel-image
    container_name: StevocatImport
    networks:
      - csnetwork
    environment:
      RABBITMQ_HOST: ${RABBITMQ_HOST}
      EXCHANGE_NAME: ${EXCHANGE_NAME}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASS: ${RABBITMQ_PASS}
      ROUTING_KEY: "Stevocat/PLDA/incomming"
      QUEUE_NAME: "stevocat_import_incomming_queue"
      PYTHONPATH: "/shared"
      DOCPARSER_API_KEY: ${DOCPARSER_API_KEY} 
      PARSER_ID: "lnfycbyzpjsa"
    volumes:
      - "../scripts/Stevocat/PLDA:/app"
      - "../shared/classes.py:/shared/classes.py:ro"
      - "../shared/templates:/shared/templates:ro"
    command: ["/opt/venv/bin/python3", "main.py"]